.el {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08) !important;
}

.pointer {
  cursor: pointer;
}

.swal2-popup.swal2-toast .swal2-html-container,
.swal2-container.swal2-center > .swal2-popup {
  font-family: 'Roboto', sans-serif !important;
}

.swal2-confirm.swal2-styled {
  border-radius: 3px !important;
}
